---
---

@import "{{ site.theme }}";

body {
 background: #fbfbfb; 
}

nav {
 width: 235px;
 position: absolute;
 top: 30px;
}

section {
 border: 0;
 box-shadow: none;
 font-size: 16px;
}

header {
 background: #333;
 
 p {
   font-size: 22px;
   margin: 5px 0;
 }
}

